[package]
name = "ocf-theme-applet"
version = "0.1.0"
edition = "2024"

[dependencies]

[dependencies.libcosmic]
git = "https://github.com/pop-os/libcosmic"
default-features = false
features = ["applet", "tokio", "wayland"]
