[Desktop Entry]
Name=OCF Theme Switcher
Type=Application
Exec=@EXEC_PATH@
Terminal=false
Categories=COSMIC;
Keywords=COSMIC;Iced;
Icon=display-symbolic
StartupNotify=true
NoDisplay=true
X-CosmicApplet=true
X-CosmicHoverPopup=End
X-OverflowPriority=10
